
*{
    margin:0;
    padding: 0;
}

header,main,footer,nav,aside,section,div{
    display: block;
}

.btn {
    background-color: #fff !important;
    color: #303030 !important;
  }

.btn-light, input{
    border: 1px solid #909090;
    border-radius: 10px;
}

.dropdown-toggle{
    width: 220px !important;
}

body{
    background-image: linear-gradient(#ffffff 30%,#303030 0%);
    font-size: 30px;
    min-height: 100vh;
}
    #wrapper{
        max-width: 1200px;
        margin: 0 auto;
    }
        nav{
            position: relative;
            height: 100px;
            line-height: 100px;
            vertical-align: middle;
            width: 100%;
        }

            #logo{
                position: absolute;
                background: url(../images/logo.png);
                background-repeat: no-repeat;
                height: 100px;
                width: 200px ;
                margin: 0;
                background-position: center;
            }

        #upper-section{
            position: relative;
            width: 800px;
            height: 250px;
            padding: 30px 50px;
            margin: 0 auto;
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.15);
            box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
            border-radius: 23px;
        }

            #calculator{
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
                #to-convert{
                    text-align: center;
                    width: 220px;
                    height: 50px;
                    z-index: 99;
                }
                #converted{
                    width: 220px;
                    height: 50px;
                    line-height: 50px;
                    vertical-align: middle;
                    text-align: center;
                    float: right;
                    font-weight: bold;
                }
                #calculator span{
                    position: absolute;
                    text-align: center;
                    left:0;
                    right:0;
                    margin-left:auto;
                    margin-right:auto;
                    font-weight: bold;
                }

            #currency{
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                width: 100%;
            }


            #value{
                position: absolute;
                bottom:0;
                left: 0;
                right: 0;
                margin: 10px;
                font-size: 18px;
                text-align: center;        
            }

                #updated{
                    color: #909090;
                    font-size: small;
                }




    footer{
        width: 100%;
        height: 20px;
        line-height: 20px;
        background-color: #202020;
        text-align: center;
        position: absolute;
        bottom: 0;
        color: #707070;
        font-size: 12px;
    }